
*{
    box-sizing: border-box;

}


body,html{
    height :100%;
    background-color: palevioletred;
}
.container{
    display: flex;
    justify-content:center;
}
.item{
    flex-grow: 1;
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: tomato;
    align-items: stretch;
    flex-direction: column;

}
.item:nth-child(3){
   flex-grow: 2;
   background-color: aquamarine;
   align-self: flex-end;

}