body{
    background-color: palevioletred;
}
.container{
    display: inline-flex;
    justify-content: flex-end;
}
.item{
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: tomato;
}