nav{
   height: 60px; 
}

.container{
display: flex;
justify-content: space-around;
list-style: none;
background-color: brown;
line-height: 60px;

}

.container a {
    text-decoration: none;
    color :white;
}

li {
    padding :0 40px;

}


li:hover{
    animation:change 3s ease-in-out .3s;
}

@keyframes change{
    0%{
        background-color: tomato;
    }
    50%{background-color: burlywood;}
    75%{
        background-color: coral;
    }
    100%{
        background-color: brown;
    }

}

main{
    height :100%;
    background:aliceblue;
}